/*----------------------------------------------------------------------*
Colors
 CSS HEX 
--maximum-yellow-red: #f6bd60ff;
--linen: #f7ede2ff;
--baby-pink: #f5cac3ff;
--morning-blue: #84a59dff;
--light-coral: #f28482ff;

 CSS HSL 
--maximum-yellow-red: hsla(37, 89%, 67%, 1);
--linen: hsla(31, 57%, 93%, 1);
--baby-pink: hsla(8, 71%, 86%, 1);
--morning-blue: hsla(165, 15%, 58%, 1);
--light-coral: hsla(1, 81%, 73%, 1);  

General Styles
*----------------------------------------------------------------------*/
@import url('https://use.typekit.net/fqz1wha.css');
/*
"Bungee Regular"
font-family: bungee, sans-serif;
font-weight: 400;
font-style: normal;


Bungee Shade
font-family: bungee, sans-serif;
font-weight: 800;
font-style: normal;

font-family: input-mono, monospace;
*/
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}

body {
  font-family: input-mono, monospace;
  font-size: 20px;
  line-height: 1.4em;
  color: #042a2b;
}
body {
  background-color: #fff;
}
.logo {
  position: relative;
}
.logo img {
  border-radius: 50%;
  width: 100px;
  padding: 10px;
}
.logo a h4 {
  position: absolute;
  top: 14px;
  left: 30px;
  color: black;
}
section {
  margin-bottom: 60px;
}
.container-grid,
.container,
header,
.header {
  width: 100%;
  padding: 0 40px;
  margin: auto;
}
header {
  margin-bottom: 40px;
  background-color: rgb(3, 77, 77);
}

header p {
  font-size: 24px;
}
header h1,
header h2,
header h3 {
  font-family: bungee, sans-serif;
  font-weight: 400;
  color: #fff;
}
h1 {
  font-family: bungee, sans-serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.6rem;
  /* color: #5eb1bf; */
  color: #fff;
}
.white {
  color: #fff !important;
}
.subpage h1,
.subpage h2 {
  color: #333;
}
h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
  /* color: #5eb1bf; */
  color: #fff;
  margin-bottom: 18px;
  margin-top: 1.4rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.8em;
  margin-bottom: 18px;
}
h4 {
  margin-top: 18px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
h5 {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
blockquote {
  font-family: input-mono, monospace;
  font-weight: 300;
}
p {
  margin-bottom: 20px;
}
pre {
  font-family: 'Courier New', Courier, monospace;
}
.inspire {
  width: 300px;
}
nav {
  border-bottom: 12px solid #f5ca3a;
  margin-bottom: 0;
}
nav a {
  color: #d84727;
}
nav a:hover {
  color: #5eb1bf;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
nav li {
  padding-right: 20px;
  white-space: nowrap;
}
a {
  color: #d84727;
  text-decoration: none;
}
a:hover {
  color: #5eb1bf;
}
.name {
  color: #5eb1bf;
  font-weight: bold;
}

hr {
  margin-bottom: 60px;
}
img {
  width: 100%;
}

td:nth-child(odd) {
  padding-right: 10px;
  white-space: nowrap;
}
td {
  padding-bottom: 12px;
}
footer {
  margin-top: 50px;
  padding: 60px;
  border-top: 4px solid #ef7b45;
  background: #ef7b45;
}

footer ul {
  display: flex;
}
footer li {
  padding-right: 20px;
  color: #fff;
}
footer a {
  color: #fff;
}
.grid-2 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.terms li {
  padding-bottom: 16px;
}

.icon-sm {
  height: 18px;
  width: auto;
}
aside {
  background-color: #cdedf6; /* rgb(205, 237, 246) */
  padding: 10px;
}

.home article ul {
  list-style-type: square;
  margin-left: 20px;
}
.home nav {
  margin-bottom: 0;
}
/* Global button styles */
.button {
  border-radius: 8px;
  padding: 6px 10px;
  border: 2px solid #ef7b45;
}
.button:hover {
  border: 2px solid #5eb1bf;
}

.tiny-button {
  border-radius: 8px;
  padding: 2px 6px;
  border: 2px solid #ef7b45;
}
.tiny-button:hover {
  border: 2px solid #5eb1bf;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 40px;
  list-style-type: none !important;
}
.portfolio-cards {
  margin-bottom: 50px;
}
/* START of Mobile Menu */
.nav,
.desktop {
  display: block;
  width: 100%;
  z-index: 900;
}
nav {
  min-height: 80px;
  background: white;
}
.icon {
  position: fixed;
  cursor: pointer;
  top: 5%;
  right: 0%;
  width: 40px;
  height: 45px;
  transform: translate(-50%, -50%);
  display: block;
  z-index: 1000;
}

.hamburger {
  width: 40px;
  height: 4px;
  line-height: 70px;
  background: #666;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 4px;
  background: #666;
  border-radius: 5px;
  transition: 0.5s;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  top: 10px;
}

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
}

.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}

.menu-mobile {
  background-color: #efefef;
  height: 100vh;
  width: 100%;
  z-index: 999;
  padding-top: 100px;
  font-family: 'Helvetica', sans-serif;
  text-align: left;
}

.menu-mobile,
.menu-mobile a {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.menu-mobile a {
  clear: right;
  text-decoration: none;
  color: #333;
  height: 70px;
  line-height: 70px;
  font-size: 45px;
  font-weight: bold;
  font-family: input mono, monospace;
}
.menu-mobile a:hover {
  color: red;
}

.menu-desktop,
.menu-mobile {
  display: none;
}
/* END OF Mobile Menu */
/* END styles for the class homepages */
@media only screen and (min-width: 768px) {
  .container-grid,
  .container-div,
  .container {
    width: 80%;
  }
  header {
    border-bottom: 16px solid rgb(239, 123, 69);
    width: 100%;
    padding: 60px;
    /* background-image: url("https://media.giphy.com/media/kolvlRnXh8Jj2/source.gif"); */
    /*    background-image: url("https://media.giphy.com/media/3oz8xRF0v9WMAUVLNK/source.gif");
*/
    /* background-image: url("https://media.giphy.com/media/nilmBu205MrCg/source.gif"); */
    background-image: url('/images/headers/spiral.png');
    /* background-image: url("https://media.giphy.com/media/4VWs1PfHe19mRYw6ia/giphy-downsized-large.gif"); */
    /*    background-image: url("https://media.giphy.com/media/26uf80oUzpxWmuTOo/source.gif");
*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    height: 380px;
  }
  header.short {
    height: 120px;
  }
  /* START of desktop menu for 768 media query */
  .menu-desktop {
    width: 100%;
    display: block;
    padding: 0;
    line-height: 50px;
    justify-content: space-evenly;
    flex-direction: row;
    height: 0;
    text-align: right;
    position: absolute;
    top: 20px;
    right: 0;
  }

  .menu-desktop a {
    display: inline-flex;
    margin-right: 30px;
    height: 0;
    line-height: 50px;
    text-decoration: none;
    color: #333;
    justify-content: space-evenly;
  }
  .menu-desktop a:hover {
    color: red;
  }

  .desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: block;
  }

  .menu-mobile {
    display: none;
  }
  /* END of desktop menu for 768 media query */
}

/* Tablet to small desktop */
@media only screen and (min-width: 1024px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .span-2 {
    grid-column: 1 / 3;
  }
  .container-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 20px;
  }
  .ack {
    width: 60%;
    margin: 60px auto;
  }
}
@media only screen and (min-width: 1200px) {
}

/*# sourceMappingURL=style.css.map */

.three-col {
  display: flex;
  height: 100vh;
}

.definition .left {
  background-color: mediumpurple;
}

.left {
  flex: 30%;
  padding: 40px;
}
.center {
  flex: 55%;
}
.right {
  flex: 15%;
  justify-content: flex-end;
}

.definition .center-content {
  background-color: blanchedalmond;
}

.center-content {
  padding: 20px;
  margin: 60px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-left: 100px;
}
nav li {
  margin-bottom: 20px;
  width: 60px;
  justify-content: flex-end;
}
.homelink {
  background-color: burlywood;
}
.definitionlink {
  background-color: rgb(102, 25, 146);
}
.other1link {
  background-color: rgb(56, 122, 30);
}
.other2link {
  background-color: rgb(73, 44, 5);
}
.other3link {
  background-color: rgb(88, 58, 143);
}
