/*----------------------------------------------------------------------*
Colors
 CSS HEX 
--maximum-yellow-red: #f6bd60ff;
--linen: #f7ede2ff;
--baby-pink: #f5cac3ff;
--morning-blue: #84a59dff;
--light-coral: #f28482ff;

 CSS HSL 
--maximum-yellow-red: hsla(37, 89%, 67%, 1);
--linen: hsla(31, 57%, 93%, 1);
--baby-pink: hsla(8, 71%, 86%, 1);
--morning-blue: hsla(165, 15%, 58%, 1);
--light-coral: hsla(1, 81%, 73%, 1);  

General Styles
*----------------------------------------------------------------------*/
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  line-height: 1.4em;
  color: #042a2b;
}
section {
  margin-bottom: 60px;
}
.container-grid,
.container,
header,
.header {
  width: 90%;
  margin: auto;
}
header {
  margin-bottom: 40px;
}

header p {
  font-size: 24px;
}
h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #5eb1bf;
}

h2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.4rem;
  line-height: 2.4rem;
  color: #5eb1bf;
  margin-bottom: 18px;
  margin-top: 1.4rem;
}

h3 {
  font-size: 1.8rem;
  line-height: 1em;
  margin-bottom: 18px;
}
h4 {
  margin-top: 18px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}
h5 {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
blockquote {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
p {
  margin-bottom: 20px;
}
pre {
  font-family: "Courier New", Courier, monospace;
}
.inspire {
  width: 300px;
}
nav {
  border-bottom: 12px solid #5eb1bf;
  padding: 30px;
}
nav a {
  color: #d84727;
}
nav a:hover {
  color: #5eb1bf;
}
nav ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}
nav li {
  padding-right: 20px;
}
a {
  color: #d84727;
  text-decoration: none;
}
a:hover {
  color: #5eb1bf;
}

hr {
  margin-bottom: 60px;
}
img {
  width: 100%;
}

td:nth-child(odd) {
  padding-right: 10px;
  white-space: nowrap;
}
td {
  padding-bottom: 12px;
}
footer {
  margin-top: 50px;
  padding: 60px;
  border-top: 4px solid #ef7b45;
  background: #ef7b45;
}

footer ul {
  display: flex;
}
footer li {
  padding-right: 20px;
  color: #fff;
}
footer a {
  color: #fff;
}
.grid-2 {
  display: grid;
}
.terms li {
  padding-bottom: 16px;
}

aside {
  background-color: #cdedf6; /* rgb(205, 237, 246) */
  padding: 10px;
}

.home article ul {
  list-style-type: square;
  margin-left: 20px;
}
/* Global button styles */
.button {
  border-radius: 8px;
  padding: 6px 10px;
  border: 2px solid #ef7b45;
}
.button:hover {
  border: 2px solid #5eb1bf;
}

.tiny-button {
  border-radius: 8px;
  padding: 2px 6px;
  border: 2px solid #ef7b45;
}
.tiny-button:hover {
  border: 2px solid #5eb1bf;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 40px;
  list-style-type: none !important;
}
/* END styles for the class homepages */
@media only screen and (min-width: 768px) {
  .container-grid,
  .container-div,
  .container {
    width: 80%;
  }
  header {
    width: 100%;
    padding: 60px;
    /* background-image: url("https://media.giphy.com/media/kolvlRnXh8Jj2/source.gif"); */
    background-image: url("https://media.giphy.com/media/UbYIcaMTC2YaQ/source.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 90%;
    height: 400px;
  }
}

/* Tablet to small desktop */
@media only screen and (min-width: 1024px) {
  .grid-2 {
    grid-template-columns: 1fr 1fr;
  }
  .span-2 {
    grid-column: 1 / 3;
  }
  .container-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 20px;
  }
  .ack {
    width: 60%;
    margin: 60px auto;
  }
}
@media only screen and (min-width: 1200px) {
}

/*# sourceMappingURL=style.css.map */
