body{background-color:black;
        
}

.nav{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 13;
}

li{
    display: inline-block;
}

li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: Source Sans Pro, sans-serif;
    font-weight:bold;
    font-size: 28px;
    padding: 0 20px;
}
 
.links::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width.3s
}

.links:hover::after{
    width: 100%;
    transition: width .3s;
}


.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30%;
    margin-top: -100px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

p{color: white;
    font-family: sans-serif;
    margin-top: 270px;
    margin-left: 40%;
    font-size: 1em;
    position: fixed;
}