body{background-color:black;
    }

.nav{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 13;
}

li{
    display: inline-block;
}

li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-family: Source Sans Pro, sans-serif;
    font-weight: bold;
    font-size: 28px;
    padding: 0 20px;
}
 
.links::after{
    content:'';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width.3s
}

.links:hover::after{
    width: 100%;
    transition: width .3s;
}

.wave{
    position: absolute;
    top: 200px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    height: 100%;
    width: 200%;
    background-position: 0 bottom;
    background-repeat: repeat-x;
    transform-origin: center bottom;}

@keyframes waves{
    0%{transform: translateX(0) translateZ(0)
    scaleY(1);}
    0%{transform: translateX(-25%) translateZ(0)
    scaleY(.5);}
    0%{transform: translateX(-50%) translateZ(0) scaleY(1);}
