main {
  width: 80%;
  margin: auto;
}

img {
  width: 100%;
}

.grid-2 {
  display: flex;
}
.grid-2 section {
  padding: 60px;
}
.grid-2 .left {
  flex: 25%;
}

.grid-2 .right {
  flex: 75%;
  display: flex;
}
.grid-2 .right div {
  flex: 1;
}
.grid-2 .right .content {
  margin-left: -80px;
}

.page-two .right img {
  border-radius: 50%;
}
