* {
  box-sizing: border-box;
}
body {
  background-color: rgb(38, 233, 13);
}
img {
  width:100%;
}
.grid {
  display:flex;
}
.grid div {
  flex:1;
  padding:50px;
}


@media screen and (max-width:768px) {
  .grid {
    flex-direction:column;
  }
  .grid div {
    padding:10px;
  }
}

