body {
  margin: 0;
}
.hide-mobile {
  display: none;
}
.polar-hero {
  background-image: url("../images/polarbear.jpg");
  height: 210px;
  background-repeat: no-repeat;
  background-size: 100vw;
}
h1 {
  padding-top: 30px;
  padding-left: 30px;
  margin: 0;
  color: #fff;
}

img {
  width: 100%;
}

.polar-article {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr;
}

p {
  font-family: fantasy;
  font-size: 18px;
 }

.feature { font-size: 24px;}

@media only screen and (min-width: 768px) {
  .polar-hero {
    height: 400px;
  }
  .polar-article {
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }
  .hide-mobile { display: block; }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 68px;
  }
  .polar-article {
    grid-template-columns: 1fr 2fr;
    grid-gap: 80px;
  }
  .article-body {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .turtle-img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
