body {
  margin: 0;
}

main {
  position: relative;
}

.grid-2 {
  display: flex;
}

.grid-2 .pothos-bg {
  background-image: url("http://placekitten.com/800/1200");
  background-size: cover;
  height: 100vh;
}
.grid-2 div {
  flex: 1;
}

nav {
  position: absolute;
  left: 20px;
  bottom: 40px;
}

.logo {
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  text-align: center;
}

.logo-img {
  border-radius: 50%;
}
