* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0D065C;
}
main {
  position: relative;
}

p {
  color: #fff;
}
#whale-whole {
  width: 80%;
  padding: 90px;
  position: absolute;
  top: 0;
  left:0;
transform: scaleX(-1);
}
#words { 
  fill: #ccc; 
  opacity: 0;
  animation-name: words;
}
#whale {
  fill: #ccc;
  opacity: 1;
  animation-name: whale-color;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  animation-delay: 2s;
  z-index: 1;
}

@keyframes whale-color {
  0% {
    fill: #999;
  }
  100% {
    fill: #fff;
  }
}

#words {
}

#bottomsplash {
  fill: #fff;
}
#tailsplash {
  fill: #fff;
}
#spout {
  fill: rgba(255, 158, 44, 0);
}
#spout {
  animation-name: rainbow;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  z-index: -1;
  animation-timing-function: linear;
}

@keyframes rainbow {
  0% {
    fill: rgba(73, 194, 54, 0.1);
    transform: translateY(100px);
  }
  25% {
    fill: rgba(235, 49, 210, 0.2);
    transform: translateY(80px);
  }
  50% {
    fill: rgba(220, 111, 117, 0.3);
    transform: translateY(60px);
  }
  75% {
    fill: rgba(151, 27, 240, 0.5);
    transform: translateY(40px);
  }
  100% {
    fill: rgba(29, 153, 175, 0.8);
    transform: translateY(0px);
  }
}


.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.vh-center {
  margin: 120px auto;
  width: 80%;
  height: 80%;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  background: #514CE6;
}
.two {
  background: #3A37A6;
}
.three {
  background: #2A2878;
}
.four {
  background: #1F1D57;
}
.five {
  background: #111030;
}
.center {
  text-align: center;
}
