

header, nav, main, footer 
{	margin: 0;}



article ul
{ 	list-style-type: circle;
	color:black}

h1
{ 	background-color: ;
	color: #414042;
	min-height: 100px;
	font-size:80px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
	text-transform:uppercase;}

header
{background-color: white;
margin:0;}



h2
{	
	color: white;
	display: block;
	min-height: 100px;
	min-width: 100px;
	font-size:80px;
	font-family: 'Comfortaa', cursive;
	text-align: left;
	text-transform:lowercase;
	margin:0;
	padding-left:170px;
	padding-top:20px;}

.logo{
    background-color:none;
    padding-left:20px;
    margin-top:-200px;
    }


a 
{	text-decoration: underline 4px grey;}

nav ul
{	list-style-type: none;
	text-align: center;
	font-family: 'Quicksand', sans-serif;}

nav li 
{	display: inline-block;
	margin: 20px;}

section div p
{	font-family: 'Quicksand', sans-serif;
	font-size:15px;
	text-align:left;
	margin-left:80px;
	margin-right:130px;
	margin-top:40px;
	line-height: 1.5em;
	color: black;
	text-align:justify;}

.home header
{background-color:white;}

.home header
{	margin-top: 200px;
	margin-bottom: 200px;}

.about h2
{	background-color:#006838;
    }

 .powder h2
{	background-color:#F7941D;}

.freestyle h2
{	background-color:#EE2A7B;}

.split h2
{	background-color:#1B75BC;
height:60px;}
 


ul.about-list 
{	color:black;
	list-style-type: circle;
	text-decoration: none;
	font-family:'Comfortaa';
	font-size:12px;
	text-align:left;
	line-height: 2em;
	text-align:justify;}

ul.about-list  li 
{	margin-left:250px;
	margin-top:20px;
	margin-right:250px;}

.homeimage 
{ 	display: block;
	margin-left:auto;
	margin-right:auto;
	width: 20%;
	height: 20%;}

.about_circle1
{	height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .about_circle1
 {	margin-left:30px;}

 
 .powder_circle1
 {	height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

  .powder_circle1
 {	margin-left:150px;
  	margin-bottom:100px;}

  .powder_circle2
 {	width: 200px; 
 	height: 200px;
  	float: left;
  	margin-right:2rem; 
  	border-radius: 50%;
  	-webkit-shape-outside:circle();
  	shape-outside:circle()}

  .powder_circle2
 {	margin-left:5px;
  	margin-top:150px;}

  .powder_circle3
 {	height: 125px;
    width: 125px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

  .powder_circle3
{	margin-left:-325px;
  	margin-top:300px;}

  .powderpageparagraph
{	margin-left:710px;
	margin-right:100px;
	text-align:left;
	padding-top:100px;
    font-family: 'Quicksand', sans-serif;}


.freestyle_circle1
{	height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .freestyle_circle1
 {	margin-left:150px}

.freestyle_circle2
{	height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

.freestyle_circle3
{	height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: 25px 25px 25px 0px;
    float: left;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .freestylepageparagraph
 {	padding-top:300px;
 	margin-left:150px;
 	margin-right:150px;
    font-family: 'Quicksand', sans-serif;}

 .split_circle1
 {	height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: auto;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .split_circle1
 {	margin-right:400px;
 	margin-top:50px;}

 .split_circle2
 {	height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: auto;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .split_circle2
 {  margin-right:400px;
 	margin-top:30px;}

.split_circle3
{	height: 175px;
    width: 175px;
    border-radius: 50%;
    background-color: #7db9e8;
    margin: auto;
    float: right;
    -webkit-shape-outside: circle();
    shape-outside: circle();}

 .split_circle3
 {  margin-right:400px;
 	margin-top:30px;}

.splitparagraph
 {  padding-top:70px;
 	margin-left:315px;
 	margin-right:600px;
 	text-align:right;
 	line-height:1.5em;
 	color:black;
    font-family:  'Quicksand', sans-serif;}


.orange{color:#F7941D;}
.pink{color:#EE2A7B;}
.blue{color:#1B75BC;}

.home{color:grey;}
.about{color:#006838;}
.powder{color:#F7941D;}
.freestyle{color:#EE2A7B;}
.split{color:#1B75BC;}













