body {
  margin: 0;
  scrollbar-width: 0;
}
.slider {
  width: 100vw;
  height: 500px;
  overflow:hidden;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}


.slide-content img {
  width: 100%;
}


/* for Sam G only */
.slick-slide {
  margin: 8px;
  width: 220px;
}
