/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Better box model */
* { box-sizing: border-box; }


/*----------------------------------------------------------------------*

	General Styles

*----------------------------------------------------------------------*/

body {

}

h1 {

}

p {

}

a {

}

a:hover {
	
}
body { background-color: #ddd;}
main, header {
    max-width: 1200px;
    margin: auto;
    background-color: white;
}
main {
	width: 100%;
	margin: auto;
    margin-top: 200px;
}

header {
    display: grid;
	grid-template-columns: 40% 20% 20%;
}
.sticky {
      position: fixed;
      top: 0;
      left: 0;
/*      right: 0;
*/      width: 100%;
      background-color: rgba(172, 255, 208, 0.6);
      padding: 20px;
      /*overflow: hidden;*/
}

.nav1 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.nav2 {
    text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.feature-left, .feature-right { 
    color: white;
    display: inline-block;
    width: 300px;
    margin: 10px;
    border: 1px solid white;
}
.feature-right { float: right;}

.banner {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 400px;
}
.vineyard {
    background-image: url('http://placekitten.com/1200/400');
}
.tastingroom {
    background-image: url('http://placekitten.com/1202/400');
}

.logo { width: 40px; }

.grid-2col {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 1em;
}

.img-full {width: 100%;}


footer {  }
/*----------------------------------------------------------------------*

	Miscellaneous

*----------------------------------------------------------------------*/

/* Forces a box filled with floated elements to wrap around child elements */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Media Queries
/* On screens that are 768px or less, use these styles */
@media screen and (max-width: 768px) {
  .example-class {
    background-color: blue;
  }
}