html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


html, body {
    background: #535353;
    font-family: helvetica,arial,sans-serif;
    font-weight: 100;
    width: 100%;
    height: 100%;
}

h2 {
	margin: 30px;
	font-size: 36px;
	text-transform: uppercase;
	color: #333;
}

nav {
	position: fixed;
	top: 20px;
	right: 20px;
	width: 130px;
	background: none;
	z-index: 1000;
}

nav a {
	font-size: 22px;
	color: #414141;
	display: block;
	text-decoration: none;
	margin: 5px 0;
	cursor: pointer;
	-webkit-transition: all .2s ease;
	        transition: all .2s ease;
}

nav a.selected {
	font-size: 32px;
	color: #fff;
}

.page {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.page1 {
	background: #8774d3;	
}

.page2 {
	background: #91d475;	
}

.page3 {
	background: #d47584;	
	background-image: url(../img/aideal-hwa-600522-unsplash.jpg);
	background-size: 100%;
}

.page4 {
	background: #7588d4;	
}

.item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	background: #d9d9d9;
	padding: 5px;
	font-size: 1em;
}

.item1 {
	top: 20%;
	left: 70%;
	width: 60px;
	height: 60px;
	background: #666;
	font-size: .6em;
	box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 3px 3px 3px 0px rgba(30,30,30,.3);
}

.item2 {
	top: 60%;
	left: 20%;
	width: 70px;
	height: 70px;
	background: #777;
	font-size: .7em;
	box-shadow: 5px 5px 5px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 5px 5px 5px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 5px 5px 5px 0px rgba(30,30,30,.3);
}

.item3 {
	top: 80%;
	left: 60%;
	width: 80px;
	height: 80px;
	background: #888;
	font-size: .8em;
	box-shadow: 7px 7px 7px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 7px 7px 7px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 7px 7px 7px 0px rgba(30,30,30,.3);
}

.item4 {
	top: 30%;
	left: 10%;
	width: 90px;
	height: 90px;
	background: #999;
	font-size: .9em;
	box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 8px 8px 8px 0px rgba(30,30,30,.3);
}

.item5 {
	top: 60%;
	left: 90%;
	background: #aaa;
	box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
	-webkit-box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
	-moz-box-shadow: 10px 10px 10px 0px rgba(30,30,30,.3);
}

.slowshow {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	margin-top: -160px;
	margin-left: -170px;
	background: #ccc;
	padding: 20px;
	line-height: 1.4em;
}


/* For horizontal scrolling */
/*
body {
	width: 400%;
}

.page {
	float: left;
	width: 25%;
}

*/
