.button {
	background-color: rgba(255,0,0,0);
	padding: 12px 16px;
	border-radius: 12px;
	color: #ff0000;
	text-decoration: none;
	border: 2px solid #ff0000;
}

.button:hover {
	animation-name: button-hover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes button-hover{
	from { 
		background-color: rgba(255,0,0,0);
		color: #ff0000;
		 }
	to { 
		background-color: rgba(255,0,0,1);
		color: #fff;
		 }

}