* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
section {
  width: 100vw;
  height: 100vh;
  background-color: #7171d1;
  margin: auto;
  display: flex;
  align-items: center; /* vertical aligning */
  justify-content: center; /* horizontal aligning */
}
#one {
}
#two {
  background-color: navy;
}
#three {
  align-items: bottom; /* vertical aligning */
  justify-content: right; /* horizontal aligning */
  padding: 80px;
}
#four {
}
