
.flex{ display: flex;
      justify-content: center;
      align-items: center;}

/*MAIN STYLES--------------------------------------*/



body.blue{
	background-image: url(../images/blue_background-11.png);
	background-repeat: no-repeat;
	background-size: cover;
}


body.gray{
	background-image: url(../images/gray_background-11.png);
	background-repeat: no-repeat;
	background-size: cover;
	
}

body.humpback{
	background-image: url(../images/humpback_background-11.png);
	background-repeat: no-repeat;
	background-size: cover;
}




body.orca{
	background-image: url(../images/orca_background-11.png);
	background-repeat: no-repeat;
	background-size: cover;
}


/*NAV LINKS--------------------------------------*/
a{
	text-decoration: none;}

	a:hover{
		border:1px solid black;  
	}


	a:hover.bluepage{
		border:2px solid #a6d1ca;}

	a:hover.humpbackpage{
		border:2px solid #225caa;}

	a:hover.graypage{
		border:2px solid #e5d8b5;}

	a:hover.orcapage{
		border:2px solid #e8858c;}

	a:hover.homepage_link{
		border:none;}

	a:active {
		color:#000;}

	a:visited{
		text-decoration: none;
		color:#000;}

	ul{
		z-index:1000;
		position:static;
	}

	ul.home_ul a {
		color:#e83832;
	}

	ul.orca_ul a {
		color:#225caa;
	}

	ul.gray_ul a {
		color:#3e3694;
	}

	ul.humpback_ul a {
		color:#96c6e2;
	}

	ul.blue_ul a {
		color:#0089cf;
	}


	nav{ 
		padding: 20px;
		font-family: 'Staatliches', cursive;
		font-size: 16px;
		margin-bottom:80px;
	}


	nav ul{
		list-style-type: none;

	}

	nav li{ 
		display: inline-block; 
		float: right; 
		padding:20px; 		
	}


/*HEADERS--------------------------------------*/
	.blue-h1{
		padding-top:30px;
	}	

	.orca-h1{
		padding-top:60px;
	}	
		
	.gray-h1{
		padding-top:80px;
	}	
		
	.humpback-h1{
		padding-top:70px;
	}			
	

	
	h1.home_header{
	  	width: 60%;
	    align-items: right;
	    text-align: left;
	    font-size: 70px;
		font-family: 'Staatliches', cursive;
	    font-weight: 700;
	   	color:#e83832;
	    display: flex;
	    margin-bottom:20px;
	    padding:30px;
		}	



	h1.blue_header {
		width:100%;
		font-family: 'Staatliches', cursive;
		color:#0089cf;
		font-size:70px;
		font-weight:900;
		text-align:left;
		padding:30px;	
		display:flex;


		}


	h1.orca_header {
		width:100%;
		font-family: 'Staatliches', cursive;
		color:#225caa;
		font-size:70px;
		font-weight:900;
		text-align:left;
		padding:30px;	
		display:flex;
		margin-bottom:20px;
		}


	h1.gray_header {
		width:100%;
		font-family: 'Staatliches', cursive;
		color:#3e3694;
		font-size:70px;
		font-weight:900;
		text-align:left;
		padding:30px;	
		display:flex;
		margin-bottom:20px;
		}
	
	
	h1.humpback_header {
		width:100%;
		font-family: 'Staatliches', cursive;
		color:#96c6e2;
		font-size:70px;
		font-weight:900;
		text-align:left;
		padding:30px;	
		display:flex;
		margin-bottom:20px;
		}




	h2{ 
		font-family: 'ABeeZee', sans-serif;
		color:#000;
		font-size:25px;
		font-style:italic;
		font-weight:500;
		line-height:1.5em;
		margin:auto;
		margin-bottom:10px;
		}


	.orca-h2{
		color:#225caa;
	}	

	.blue-h2{
		color:#0089cf;
	}	


	.gray-h2{
		color:#3e3694;
	}	

	.humpback-h2{
		color:#96c6e2;
	}	

	.homepage-h2{
		color:#e83832;
	}	

/*GRID--------------------------------------*/

	section.home_section{
		display: grid;
		grid-template-columns: 30% 70%;
		}

	section.orca_section{
		display: grid;
		grid-template-columns: 40% 60%;
		}

	section.gray_section{
		display: grid;
		grid-template-columns: 60% 40%;
		}

	section.humpback_section{
		display: grid;
		grid-template-columns: 40% 60%;
		}

	section.blue_section{
		display: grid;
		grid-template-columns: 40% 60%;
		}


/*BODY COPY--------------------------------------*/

	.home_article{ 	
		font-family: 'ABeeZee', sans-serif;
		color:#000;
		font-size:18px;
		font-weight:200;
		line-height:1.5em;
		padding:30px;
	}



	.blue_article{ 
		font-family: 'ABeeZee', sans-serif;
		color:#000;
		font-size:18px;
		font-weight:200;
		line-height:1.5em;
		padding:30px;
	}



	.humpback_article{ 
		font-family: 'ABeeZee', sans-serif;
		color:#000;
		font-size:18px;
		font-weight:200;
		line-height:1.5em;
		padding:30px;
		width:400px;
	}



	.gray_article{ 
		font-family: 'ABeeZee', sans-serif;
		color:#000;
		font-size:18px;
		font-weight:200;
		line-height:1.5em;
		padding:30px;
		width:400px;

	}



	.orca_article{ 
		font-family: 'ABeeZee', sans-serif;
		color:#000;
		font-size:18px;
		font-weight:200;
		line-height:1.5em;
		padding:30px;
		width:400px;

	}



/*IMAGES-------------------------------------*/


	img.homepage_img{
	  width: 100%;
	  display: flex;
	  margin-top:-100px;
	  margin-left: auto;
	  margin-right: auto;
	  padding-top:40px;
	}

	}

	img.orca_img_1{
	  width: 90%;
	  display: flex;
	  margin-left: auto;
	  margin-right: auto;
	  z-index:-99;
	  padding-top:20px;
	  padding:20px;
	}


	img.gray_img_1{
	  width: 90%;
	  display: flex;
	  margin-left: auto;
	  margin-right: auto;
	  z-index:-99;
	  padding-top:20px;
	  padding:20px;

	}

	img.humpback_img_1{
	  width: 90%;
	  display: flex;
	  margin-left: auto;
	  margin-right: auto;
	  z-index:-99;
	  padding-top:20px;
	  padding:20px;
	}

	img.blue_img_1{
	  width: 90%;
	  display: flex;
	  margin-left: auto;
	  margin-right: auto;
	  z-index:-99;
	  padding-top:20px;
	  padding:20px;
	}




/*IMAGE ANIMATIONS--------------------------------------*/


.homepage_img:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}

.gray_img_1:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}



.humpback_img_1:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.blue_img_1:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
.orca_img_1:hover
{
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}



@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/*FOOTER--------------------------------------*/

	footer {
		left: 0;
		bottom: 0;
		width: 100%;
		color: #333;
		text-align: center;
	}



/*-------------------------------------------*/
@media only screen and (max-width:768px) {

	section.gray_section{
		grid-template-columns: 1fr;}

	section.home_section{
		grid-template-columns: 1fr;}

	section.orca_section{
		grid-template-columns: 1fr;}	

	section.humpback_section{
		grid-template-columns: 1fr;}

	section.blue_section{
		grid-template-columns: 1fr;}		

	h1.home_header{
  	width: 50%;
    font-size: 50px;
	padding:30px;}
    

	.home_article{ 
		font-family: 'ABeeZee', sans-serif;
		color:#000;
		font-size:16px;
		font-weight:200;
		line-height:1.5em;
		margin:auto;
		margin-bottom:50px;
		padding:30px;
	}



	img.orca_img_1{
	  width: 80%;
	  display: flex;
	  margin-left: auto;
	  margin-right: auto;
	  z-index:-99;
	  padding-top:20px;
	  padding:20px;
	}

	


}

@media only screen and (min-width:768px) {







@media only screen and (min-width:1024px) {


}


@media only screen and (min-width:1200px) {
 body {
 
}


