* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.grid {
  display: flex;
}

.grid div {
  flex: 1;
  height: 200px;
  background-color: #cccccc;
  margin: 20px;
}

.grid .one {
  background-color: #993126;
}

.grid .two {
  background-color: rgb(209, 113, 105);
}

.grid .three {
  background-color: rgba(28, 133, 153, 0.75);
}

.grid .four {
  background-color: deeppink;
}

.parent {
  width: 80%;
  margin: auto;
  height: 600px;
  position: relative;
  border: 1px solid black;
}

.parent .one {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(28, 133, 153, 0.85);
  width: 300px;
  height: 300px;
}

.parent .two {
  position: absolute;
  top: 270px;
  left: 190px;
  color: rgba(243, 105, 63, 0.4);
  font-size: 68px;
}

.parent .three {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(219, 74, 207, 0.5);
  width: 300px;
  height: 300px;
}
.parent .four {
  position: absolute;
  bottom: 100px;
  left: 150px;
  background-color: rgba(132, 243, 29, 0.5);
  width: 300px;
  height: 300px;
}
