*{
    box-sizing:border-box;
}
body{
        background-color:black;
        background-image: url("images/background.jpeg"); 
}

.home-scrn h1{
/*    color: #ccc;*/
    color: white;
    text-align: center;
    font-family: "silkscreennormal";
    font-size: 40px;
    text-transform: none;
    letter-spacing: 5px;
    margin: 120px auto 0px auto;
/*    margin:180px 150px 300px 120px;*/
    line-height: 60px;
    /* background-color: #ccc */;
}
span{
    background-color: #ccc;
    padding: 2px;
}


/*
img{
    width:400px ;
    margin: 160px 20px;
    align-items: center;
    border: 2px solid;
    border-color: #ccc;
    padding: 30px;
    
}
*/

.line-bkgd{
    background: url(images/episode-list-line-05.png);
    background-size:cover;
}

.moving {
    animation-duration: 2s;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    text-align: center;
    margin: 0 45%;
    width: 140px;
    box-sizing: border-box;
}

.moving-car {
    animation-duration: 6s;
    animation-name: moving-car;
    animation-iteration-count: infinite;
    animation-direction:normal;
    position: absolute;
    text-align: center;
/*    margin: 0 45%;*/
    width: 140px;
/*    box-sizing: border-box;*/
}
.pitchfork {
    animation-duration: 2s;
    animation-name: pitchfork1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    height: 140px;
    margin: 0 40%;
/*    width: 10%;*/
    box-sizing: border-box;
    margin-top: 200px;
    width: 300px

}

#arm {
    animation-duration: .3s;
    animation-name: arm1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function:ease-out;
    transform-origin: center;
    position: absolute;
    text-align: center;
    margin: 0 45%;
    width: 300px;
    box-sizing: border-box;
/*    margin-right: 20px;*/
}

@keyframes arm1 {
    0% {
        top: 25%;
/*        transform: rotate(18deg);*/
        transform: skewX(20deg);
    }
    100% {
        top: 30%;
    }
}
.moving-eye {
    animation-duration: 2s;
    animation-name: eye;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-timing-function:linear;
    animation-play-state: running;
    height: 140px;
    margin: 0 40%;
/*    width: 10%;*/
    box-sizing: border-box;
    margin-top: 200px;
    width: 200px

}

#pupil {
    animation-duration: 6s;
    animation-name: arm;
    animation-iteration-count: infinite;
    animation-direction:reverse;
    animation-timing-function: linear;
    transform-origin: center;
    position: absolute;
    text-align: center;
    margin: 0 45%;
    width: 300px;
    box-sizing: border-box;
/*    margin-right: 20px;*/
}

@keyframes arm {
    from {
        transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);

    }
}

@keyframes moving {
    from {
        top: 25%;
    }
    to {
        top: 30%;
    }
}

@keyframes moving-car {
/*
    from {
        top: 25%;
    }
    to {
        top: 30%;
    }
*/
    from{
        right:-20%
    }
    to{
        right:120%
    }
}

.parent {
  position: relative;
  transition: transform .5s cubic-bezier(.31,2.71,.8,.9);
}

.parent canvas {
  position: absolute;
  top: 0;
left: 0;
}
.parent:hover {
}



.invaders{
    width:400px;
    height: 400px;
    margin: 160px 20px;
    display: block;
    align-items: center;
/*    border: 2px solid;*/
    border-color: #ccc;
    padding: 30px;
    background: url(images/invaders.jpg);  
    background-position: center center;
    background-size:cover;
    font-size:0pt;
}

.invaders:hover{
    background-image: url(images/maxresdefault-6.jpg);
    object-fit: contain;
    background-position: center center;
    background-size:cover;
    border: 2px solid white;
    font-size: 42pt;
    font-family: "silkscreennormal";
    text-decoration: none;
    text-align: center;
    color:white;
    line-height: 60pt;
}

.invaders:visited{
    color:white;
}

.invaders span{
    background-color: black;
}

.hitch-hiker{
    width:700px;
    height: 300px;
    margin: 20px 400px;
    display: block;
    align-items: center;
/*    border: 2px solid;*/
    border-color: #ccc;
    padding: 30px;
    background: url(images/hitch-hiker4.jpg);  
    background-position: center center;
    background-size:cover;
    font-size:0pt;
}

.hitch-hiker:hover{
    background-image: url(images/maxresdefault-6.jpg);
    object-fit: contain;
    background-position: center center;
    background-size:cover;
    border: 2px solid white;  
    font-size: 42pt;
    font-family: "silkscreennormal";
    text-decoration: none;
    text-align: center;
    color:white;
    line-height: 60pt;
}

.hitch-hiker:visited{
    color:white;
}

.hitch-hiker span{
    background-color: black;
}

.eye-of-beholder{
    width:700px;
    height: 400px;
    margin: 160px 20px;
    display: block;
    align-items: center;
/*    border: 2px solid;*/
    border-color: #ccc;
    padding: 30px;
    background: url(images/eye-of-the-beholder.jpg);  
    background-position: center center;
    background-size:cover;
    font-size:0pt;
}

.eye-of-beholder:hover{
    background-image: url(images/maxresdefault-6.jpg);
    object-fit: contain;
    background-position: center center;
    background-size:cover;
    border: 2px solid white;
    font-size: 42pt;
    font-family: "silkscreennormal";
    text-decoration: none;
    text-align: center;
    color:white;
    line-height: 60pt;
}

.eye-of-beholder:visited{
    color:white;
}

.eye-of-beholder span{
    background-color: black;
}

.monsters{
    width:750px;
    height: 400px;
    margin: 60px 300px;
    display: block;
    align-items: center;
/*    border: 2px solid;*/
    border-color: #ccc;
    padding: 30px;
    background: url(images/monsters-due.jpg);  
    background-position: center center;
    background-size:cover;
    font-size:0pt;
}

.monsters:hover{
    background-image: url(images/maxresdefault-6.jpg);
    object-fit: contain;
    background-position: center center;
    background-size:cover;
    border: 2px solid white;
    font-size: 42pt;
    font-family: "silkscreennormal";
    text-decoration: none;
    text-align: center;
    color:white;
    line-height: 60pt;
}

.monsters:visited{
    color:white;
}

.monsters span{
    background-color: black;
}

/*
.invaders{
    width:400px;
    height: 250px;
    background-image:url(images/invaders.jpg)    
}

.invaders:hover{
    width:400px;
    height: 250px;
    background-image:url(images/maxresdefault-6.jpg)    
}
*/

.bitmap-img{
    display: block;
    margin: auto;
    border: none;  
    width:800px;
}

.header{
    color: white;
    text-align: center;
    font-family: "silkscreennormal";
    font-size: 21px;
/*    text-decoration: underline;*/
    border-bottom: 2px solid currentcolor;
    width: 70%;
    margin: 100px auto 0 auto;
    overflow:hidden;
}

.invader-header{
    margin-top: 300px;
}

.car-header{
    margin-top: 100px;
}
nav a{
    font-family: "silkscreennormal";
    font-size: 21px;
    text-decoration: none;
}

nav a:any-link{
    color:white;
}
.home{
    color:white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: fixed;
    left: 20px;
    top: 45%
        
}
.home:hover{
    letter-spacing: .5em;
}

.home:all{
    color:white;
}

.about{
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: fixed;
    right: 20px;
    top: 45%
}

.about:hover{
    letter-spacing: .5em;
}

.about:visited{
    color: white;
    
}

.episode-list{
    position: fixed;
    align-content: center;
    align-items: center;
    text-align: center;
/*    width: 235px;*/
    width:100%;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    top: 0px;
    box-sizing: border-box;
}

.episode-list:hover{
    letter-spacing: .5em;    
}

.container {
    width:50%;
    margin: auto;
    overflow:hidden;
}
.ep-list-container{
    width:80%;
    margin:auto;
    overflow:hidden;
}


.narration{
    margin:100px auto;
}

.narration p{
    color: black; 
    font-family: letter-gothic-std, monospace;
    font-weight: 700;
    font-style: italic;
    font-size: 18px;
    line-height: 40px;
/*    margin: 200px auto;*/
/*    background-color: pink;*/
}
.narration h2{
    color:white;
    font-family: letter-gothic-std,monospace;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
/*    border-bottom: 1px solid currentcolor;*/
}

.plot{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size:16px;
    line-height: 28px;
}

.plot h2{
    color:white;
    font-family: letter-gothic-std,monospace;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .5em;
}

.fixed{
    color: white;
    background-color: black;
/*    align-content: center;*/
/*    align-items: center;*/
    text-align: center;
    font-family: "silkscreennormal";
    font-size: 24px;
/*    width: 500px;*/
    margin-left:30%;
    margin-right:30%;
/*    margin-bottom: 400px;*/
    padding: 20px 60px;
    border: 2px solid #fff;
    position:fixed;
/*    top:400px;*/
    bottom: 20px;
    box-sizing: border-box
}

.fixed:hover{
    letter-spacing: .1em;
    
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*
.serling-img {
    width: 100%;
}
*/
.container-about {
    width:50%;
    margin: 0px 200px;
    overflow:hidden;
}

.serling-bg{
    background-image: url(images/serling.jpg);
    background-attachment: fixed;
}

