body {
  background: teal;
  margin: 0;
}
body.two-col-page {
  background: rgb(208, 133, 73);
}
img {
  width: 100%;
}
main {
  position: relative;
  padding: 80px;
  background: #fff;
  width: 50%;
  margin: auto;
  margin-top: 10%;
  height: 70vh;
}
.blob1 {
  position: absolute;
  top: -160px;
  left: -160px;
  z-index: 1;
}
.blob2 {
  position: absolute;
  bottom: -140px;
  right: -140px;
  z-index: 2;
}

main p {
  z-index: 3;
  position: relative;
}
.two-cols {
  display: flex;
}
.two-cols section {
  flex: 1;
}
.two-cols p {
  margin-left: -120px;
}
.button {
  display: inline-block;
  background: rgb(67, 167, 210);
  color: #fff;
  text-decoration: none;
  padding: 20px;
  border-radius: 12px;
  margin-top: 80px;
  transition: 500ms;
  -webkit-box-shadow: 11px 10px 30px -17px rgba(245, 14, 245, 0);
  -moz-box-shadow: 11px 10px 30px -17px rgba(245, 14, 245, 0);
  box-shadow: 11px 10px 30px -17px rgba(245, 14, 245, 0);
}
.button:hover {
  background: rgb(208, 133, 73);
  -webkit-box-shadow: 11px 10px 30px -17px rgba(245, 14, 245, 1);
  -moz-box-shadow: 11px 10px 30px -17px rgba(245, 14, 245, 1);
  box-shadow: 11px 10px 30px -17px rgba(245, 14, 245, 1);
}
