body {
  margin: 0;
}

img {
  width: 100%;
}

.logo {
  border-radius: 50%;
}

nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 70%;
  padding: 0;
}
nav li a:hover {
  padding-bottom: 8px;
  border-bottom: 4px solid red;
}

.grid-2 {
  display: flex;
}

.grid-2 div {
  flex: 1;
  padding: 60px;
}
.grid-2 .left-col {
  text-align: right;
}
