/* Variables */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');


$primary-text: #ff0000;

$header-font: 'Josefin Sans';

$body-font: 'helvetica';

$font-size-lg: 96px;
$font-size-md: 72px;
$font-size-sm: 48px;
$font-size-copy: 20px;
