.hide-mobile {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
}
.green {
  background-color: limegreen;
}
.blue {
  background-color: dodgerblue;
}

@media only screen and (min-width: 768px) {
  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
  .hide-mobile {
    display: block;
  }
  section {
    flex-direction: row;
  }

  .about .col1 {
    flex: 50%;
  }
  .about .col2 {
    flex: 50%;
  }

  .work .col1 {
    flex: 40%;
    padding: 0 60px;
  }
  .work .col2 {
    flex: 60%;
    padding: 0 60px;
  }
}

@media only screen and (min-width: 1024px) {
}
