body {
  margin: 0;
  display: flex;
  align-items: center;
}

header {
  background-image: url("http://placebear.com/1440/1100");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
}

nav {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

h1 {
  text-align: center;
  padding-top: 40vh;
}

.albums {
  width: 100vw;
  justify-content: space-around;
  display: flex;
}
