* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

main div {
  border: 1px solid red;
}

main article {
  border: 1px solid teal;
}
.left,
.right {
  flex: 20%;
}

.left h1 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: sideways;
  text-align: right;
  text-orientation: sideways;
  margin: 1rem;
}
.middle {
  flex: 60%;
  display: flex;
  flex-direction: column;
}

.middle .top,
.middle .bottom {
  flex: 20%;
}

.middle .content {
  flex: 60%;
}
main {
  display: flex;
  width: 100vw;
  height: 100vh;
  border: 1px solid black;
}
