<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Basic Site</title>
  </head>
  <body class="home-page">
    <div class="branding">
      <div class="logo"><img src="http://placekitten.com/200/200" /></div>
      <nav>
        <ul>
          <li><a href="#">link 1</a></li>
          <li><a href="#">link 2</a></li>
          <li><a href="#">link 3</a></li>
          <li><a href="#">link 4</a></li>
          <li><a href="#">link 5</a></li>
        </ul>
      </nav>
    </div>

    <header>
      <h1>My website header</h1>
    </header>
    <main>
      <h2>Here's my header two</h2>
      <section class="parent">
        <div class="left">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo doloribus soluta quo architecto? Quia odio odit quae molestias tenetur vel quis laboriosam, assumenda veritatis totam commodi ipsa perferendis! Voluptate aliquam sed autem obcaecati quia eum unde vitae quibusdam, repellat praesentium.</p>
          <article class="two-col-content">
            <div><img src="http://placekitten.com/400/500" /></div>
            <div><img src="http://placekitten.com/401/500" /></div>
          </article>
        </div>
        <div class="right">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam omnis ad vitae beatae impedit velit itaque atque. Accusamus maiores ut, beatae suscipit blanditiis natus! Perferendis laboriosam ipsum magni incidunt veniam doloremque distinctio eum amet atque tempora recusandae minima illum aspernatur quam perspiciatis, provident libero itaque eius, delectus ea? Quidem, totam.</p>
        </div>
      </section>
    </main>
    <footer>
      <div>A bunch of footer content</div>
    </footer>
  </body>
</html>
