body {
  margin: 0;
}
.main-grid {
  display: flex;
}

.main-grid nav {
  flex: 20%;
  background-color: #ccc;
}
.main-grid .content {
  flex: 80%;
}

header {
  background-image: url("http://placebear.com/1600/900");
  background-position: 70% 80%;
  height: 450px;
  width: 100%;
}

h1 {
  margin: 0;
  padding: 60px;
}
.grid-2 {
  display: flex;
}
.grid-2 div img {
  width: 100%;
}
.grid-2 div {
  flex: 1;
}
