body {margin: 0;}


.home-page {
	width: 100vw;
	height:100vh;
	background-color: #ccc;
}
.pastor-page {
	width: 100vw;
	height:100vh;
	background-image: url('images/pastor.jpg');
	background-size: cover;
}